.elementor-30497
  .elementor-element.elementor-element-eae66ca
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-30497 .elementor-element.elementor-element-eae66ca {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 22px 20px 22px 20px;
  z-index: 999;
}
.elementor-bc-flex-widget
  .elementor-30497
  .elementor-element.elementor-element-7d58774.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-30497
  .elementor-element.elementor-element-7d58774.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-30497
  .elementor-element.elementor-element-7d58774
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-30497
  .elementor-element.elementor-element-7d58774
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-30497
  .elementor-element.elementor-element-64d90937
  .elementor-menu-toggle {
  margin: 0 auto;
}
.elementor-30497
  .elementor-element.elementor-element-64d90937
  .elementor-nav-menu
  .elementor-item {
  font-family: "Prata", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8em;
}
.elementor-30497
  .elementor-element.elementor-element-64d90937
  .elementor-nav-menu--main
  .elementor-item {
  color: #000000;
  fill: #000000;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.elementor-30497
  .elementor-element.elementor-element-64d90937
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-30497
  .elementor-element.elementor-element-64d90937
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-30497
  .elementor-element.elementor-element-64d90937
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-30497
  .elementor-element.elementor-element-64d90937
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: #ffb400;
  fill: #ffb400;
}
.elementor-30497
  .elementor-element.elementor-element-64d90937
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active {
  color: #ffb400;
}
.elementor-30497 .elementor-element.elementor-element-64d90937 {
  --e-nav-menu-horizontal-menu-item-margin: calc(80px / 2);
}
.elementor-30497
  .elementor-element.elementor-element-64d90937
  .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-bottom: 80px;
}
.elementor-30497 .elementor-element.elementor-element-7ee4b10 {
  --spacer-size: 0px;
}
.elementor-30497
  .elementor-element.elementor-element-216ecce6
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-30497 .elementor-element.elementor-element-228b7b6f {
  text-align: center;
}
.elementor-30497 .elementor-element.elementor-element-228b7b6f img {
  width: 100%;
  max-width: 142px;
}
.elementor-bc-flex-widget
  .elementor-30497
  .elementor-element.elementor-element-46ddc566.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-30497
  .elementor-element.elementor-element-46ddc566.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-30497
  .elementor-element.elementor-element-46ddc566
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-30497
  .elementor-element.elementor-element-46ddc566
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-30497
  .elementor-element.elementor-element-261637db
  .elementor-menu-toggle {
  margin: 0 auto;
}
.elementor-30497
  .elementor-element.elementor-element-261637db
  .elementor-nav-menu
  .elementor-item {
  font-family: "Prata", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8em;
}
.elementor-30497
  .elementor-element.elementor-element-261637db
  .elementor-nav-menu--main
  .elementor-item {
  color: #000000;
  fill: #000000;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.elementor-30497
  .elementor-element.elementor-element-261637db
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-30497
  .elementor-element.elementor-element-261637db
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-30497
  .elementor-element.elementor-element-261637db
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-30497
  .elementor-element.elementor-element-261637db
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: #ffb400;
  fill: #ffb400;
}
.elementor-30497
  .elementor-element.elementor-element-261637db
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active {
  color: #ffb400;
}
.elementor-30497 .elementor-element.elementor-element-261637db {
  --e-nav-menu-horizontal-menu-item-margin: calc(80px / 2);
}
.elementor-30497
  .elementor-element.elementor-element-261637db
  .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-bottom: 80px;
}
.elementor-30497
  .elementor-element.elementor-element-6405edc
  .elementor-menu-toggle {
  margin-left: auto;
  background-color: #ffb4001f;
}
.elementor-30497
  .elementor-element.elementor-element-6405edc
  .elementor-nav-menu
  .elementor-item {
  font-family: "Prata", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8em;
}
.elementor-30497
  .elementor-element.elementor-element-6405edc
  .elementor-nav-menu--main
  .elementor-item {
  color: #000000;
  fill: #000000;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.elementor-30497
  .elementor-element.elementor-element-6405edc
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-30497
  .elementor-element.elementor-element-6405edc
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-30497
  .elementor-element.elementor-element-6405edc
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-30497
  .elementor-element.elementor-element-6405edc
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: #ffb400;
  fill: #ffb400;
}
.elementor-30497
  .elementor-element.elementor-element-6405edc
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active {
  color: #ffb400;
}
.elementor-30497 .elementor-element.elementor-element-6405edc {
  --e-nav-menu-horizontal-menu-item-margin: calc(80px / 2);
}
.elementor-30497
  .elementor-element.elementor-element-6405edc
  .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-bottom: 80px;
}
.elementor-30497
  .elementor-element.elementor-element-6405edc
  .elementor-nav-menu--dropdown {
  background-color: #ffb400;
}
.elementor-30497
  .elementor-element.elementor-element-6405edc
  .elementor-nav-menu--dropdown
  .elementor-item,
.elementor-30497
  .elementor-element.elementor-element-6405edc
  .elementor-nav-menu--dropdown
  .elementor-sub-item {
  font-family: "Roboto", Sans-serif;
  font-weight: 500;
}
.elementor-30497
  .elementor-element.elementor-element-6405edc
  div.elementor-menu-toggle {
  color: #ffb400;
}
.elementor-30497
  .elementor-element.elementor-element-6405edc
  div.elementor-menu-toggle
  svg {
  fill: #ffb400;
}
@media (max-width: 1024px) {
  .elementor-30497 .elementor-element.elementor-element-eae66ca {
    padding: 30px 20px 30px 20px;
  }
  .elementor-bc-flex-widget
    .elementor-30497
    .elementor-element.elementor-element-7d58774.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-30497
    .elementor-element.elementor-element-7d58774.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-30497 .elementor-element.elementor-element-228b7b6f {
    text-align: left;
  }
  .elementor-bc-flex-widget
    .elementor-30497
    .elementor-element.elementor-element-46ddc566.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-30497
    .elementor-element.elementor-element-46ddc566.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-30497
    .elementor-element.elementor-element-6405edc
    .elementor-nav-menu--dropdown
    .elementor-item,
  .elementor-30497
    .elementor-element.elementor-element-6405edc
    .elementor-nav-menu--dropdown
    .elementor-sub-item {
    font-size: 16px;
  }
  .elementor-30497
    .elementor-element.elementor-element-6405edc
    .elementor-nav-menu--main
    > .elementor-nav-menu
    > li
    > .elementor-nav-menu--dropdown,
  .elementor-30497
    .elementor-element.elementor-element-6405edc
    .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 28px !important;
  }
  .elementor-30497 .elementor-element.elementor-element-6405edc {
    --nav-menu-icon-size: 30px;
  }
}
@media (max-width: 767px) {
  .elementor-30497 .elementor-element.elementor-element-eae66ca {
    padding: 20px 20px 20px 20px;
  }
  .elementor-30497 .elementor-element.elementor-element-216ecce6 {
    width: 50%;
  }
  .elementor-30497 .elementor-element.elementor-element-46ddc566 {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .elementor-30497 .elementor-element.elementor-element-7d58774 {
    width: 40%;
  }
  .elementor-30497 .elementor-element.elementor-element-216ecce6 {
    width: 19.333%;
  }
  .elementor-30497 .elementor-element.elementor-element-46ddc566 {
    width: 40%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-30497 .elementor-element.elementor-element-216ecce6 {
    width: 50%;
  }
  .elementor-30497 .elementor-element.elementor-element-46ddc566 {
    width: 50%;
  }
}
